<section style="padding-bottom: 0px;">
    <div class='auto-container' style="padding-bottom:12px">
    <h2 style="text-align: left; padding:20px; font-weight: 500; margin-left:25px; margin-bottom: 25px;">Contact Us</h2>
    <br>
    <div class="heading" style="color:black"><i class="fas fa-envelope"></i><a href="mailto: ameiim2021@gmail.com">Email: ameiim2021@gmail.com</a></div>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-sm-3">
            <p>
                <span>Dr. Jagadish</span>
                <br>
                Department of Mechanical Engineering <br>
                NIT Raipur (CG)-492 010 <br>
                <a href="mailto: jagadish.mech@nitrr.ac.in"><i class="far fa-envelope"></i> jagadish.mech@nitrr.ac.in <br></a>
                <i class="fas fa-phone-alt"></i> +91-8811940517
            </p>
        </div>
        <div class="col-sm-3">
            <p>
                <span>Dr. N.V. Swamy Naidu</span>
                <br>
                Department of Mechanical Engineering <br>
                NIT Raipur (CG)-492 010 <br>
                <a href="mailto: nvsnaidu.mech@nitrr.ac.in"><i class="far fa-envelope"></i> nvsnaidu.mech@nitrr.ac.in <br></a>
                <i class="fas fa-phone-alt"></i> +91-9963390988
    
            </p>
        </div>
        <div class="col-sm-3">
            <p>
                <span>Dr. Suraj Kumar Mukti</span> <br>
                Department of Mechanical Engineering <br>
                NIT Raipur (CG)-492 010 <br>
              <a href= "mailto: skmukti.mech@nitrr.ac.in">  <i class="far fa-envelope"></i> skmukti.mech@nitrr.ac.in <br></a>
                <i class="fas fa-phone-alt"></i> +91-9302837666
            </p>
        </div>  
    </div>
    <br>
    <div class="container-fluid">
        <h4>Address of Correspondence</h4>
        <p>
        <span>Organizing Secretary</span> <br>
           <strong>AMEIIM-2022 </strong>  <br>
            Department of Mechanical Engineering <br>
            National Institute of Technology Raipur <br>
            G.E. Road, Raipur (CG)-492010
        </p>
    </div>
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3718.5490831480793!2d81.60284041488721!3d21.249722185879023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28dde213f66723%3A0x21543965c50c43c7!2sNational%20Institute%20of%20Technology(NIT)%2C%20Raipur!5e0!3m2!1sen!2sin!4v1634584207326!5m2!1sen!2sin" 
        width="100%" 
        height="800px" 
        style="position: inherit" 
       
        allowfullscreen="" 
        loading="lazy"></iframe>
    </div>
    <br>
</div>
</section>