


<section id="lower" style="padding-top: 35px;">
    <div class="container-sm">
        <div class="heading">
            <h3 style="padding: 20px;">Call for Papers</h3>
        </div>
        <div class="content">
            <p>
                Students, Faculties, Research Scholars, Scientist and 
                Industrial Executives are welcome to submit a <strong> one-page 
                abstract of their research </strong> on any of the following themes 
                although<strong> not limited to </strong> following areas:
            </p>
        </div>
        <div class="list">
            <ul style="padding-left: 25px; text-align: left;">
                <li>Advance in Thermal Engineering</li>
                <li> Mechanical System Design </li>
                <li>Vibration and Control </li>
                <li> Advanced Manufacturing Technologies</li>    
                <li> Green Manufacturing / Lean Manufacturing </li>
                <li> Additive Manufacturing /Reverse Engineering / Re-Engineering</li>
                <li>Advancements in Material and Metallurgical Processes </li>
                <li>CAD/CAM/CIM</li>
                <li>Robotics and Automation</li>
                <li> Modeling, Analysis and Simulation of Mechanical System</li>
                <li>Optimization Techniques/Soft Computing Techniques </li>
                <li> Internet of Things (IoT)</li>
                <li> Industry 4.0 </li>
                <li>Soft Computing and Artificial Intelligence </li>
                <li> Enterprise Resource Planning</li>
                <li> Management Information System </li>
                <li> Industrial Engineering and Management </li>



            </ul>
        </div>
    </div>
</section>