
<meta name="viewport" content="width=device-width,initial-scale=1"/>


<section id="lower" style="padding-top: 35px;">
    <div class="container-sm">
        <div class="heading">
            <h3 style="padding: 20px;">Call for Papers</h3>
        </div>
        <div class="content">
            <p>
                Authors are solicited to contribute to the conference by 
                submitting <strong>full length articles</strong> that illustrate <em>research results, 
                projects, experiment works and industrial experiences</em> that 
                describe significant advances in the following areas, but are 
                <strong>not limited to:</strong>
            </p>
        </div>
        <div class="list">
            <ul style="padding-left: 25px; text-align: left;">
                <li>Advance in Thermal Engineering</li>
                <li>Heat & Mass Transfer</li>
                <li>Thermal Energy & Environmental Engineering</li>
                <li>Computational Fluid Dynamics (CFD)</li>
                <li> Solar Thermal Applications</li>    
                <li> Refrigeration and Air Conditioning</li>
                <li> Alternate Fluids of IC Engine</li>
                <li>Mechanical System Design</li>
                <li>Vibration And Control</li>
                <li>Finite Element Analysis / Finite Elements Methods</li>
                <li>Composites Mechanics</li>
                <li>Modelling, Analysis and Simulation of Mechanical Systems</li>
                <li>Advanced Manufacturing Technologies </li>
                <li>Green Manufacturing / Lean Manufacturing</li>
                <li>Additive Manufacturing / Reverse Engineering / Re-Engineering </li>
                <li>Advanced Metal Forming, Bending, Welding and Casting Techniques</li>
                <li>Manufacturing Sytem and Simulation  </li>
                <li> Advancement in Material and Metallurgical Processes </li>
                <li>CAD / CAM / CIM</li>
                <li>Optimization Techniques / Soft Computing Techniques </li>
                <li>Internet of Things (IoT) / Industry 4.0</li>
                <li>Soft Computing and Artificial Intelligence</li>
                <li>ERP / MIS / CRM / Change Management</li>
                <li>Supply Chain Management</li>
                <li>Production and Operational Management</li>
            </ul>
        </div>
    </div>
</section>