<div class="auto-container">
    <div class="heading" style="text-align: left; padding:20px; font-weight: 500; margin-left:25px; margin-bottom: 25px;">
        <h2>Organising Committee</h2>
    </div>
    <div class="row justify-content-evenly">
    <div class= "col-lg-3">
        
        <figure class="image">
            <img src= "assets/images/ss.jpg" alt="">
        </figure>
    </div>
    <div class="col-lg-5">
        <h3>Chairman</h3>
        <span>Prof. S. Sanyal
            <br>HoD, Department of Mechanical Engineering
            <br>NIT Raipur</span>
    </div>
    </div>
    <br>
    <br>
    <div class="heading" style="font-size: 30px; font-weight: 500; text-align: center;">
        Organizing Secretaries
    </div>
    <div class="row justify-content-center" id="os">
        <div class="col-md-3">
            <figure class="image">
                <img src="assets/images/nvsnaidu.jpeg" alt="">
            </figure>
            <div class="content">
                Dr. N V Swamy Naidu
            </div>

        </div>
        <div class="col-md-3">
            <figure class="image">
                <img src="assets/images/sm.jpg" alt="">
            </figure>
            <div class="content">
                Dr. Suraj Kumar Mukti
            </div>
            
        </div>
        <div class="col-md-3">
            <figure class="image">
                <img src="assets/images/jagdish.jpg" alt="">
            </figure>
            <div class="content">
                Dr. Jagadish
            </div>
            
        </div>
    </div>

    

  

</div>





