
img {
    border-radius: 20px;
    max-width: 50%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



.content {
    text-align: center;
    font-weight: bold;
}

#os {
    padding: 35px;
    figure {
    border-radius: 50px;
    max-width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: float;
}
}