img {
    border-radius: 20px;
    max-width: 50%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.row {
    
    h2 {
        padding:15px;
        text-align: center;
        margin: 8px
    }
    .content {
        text-align: center;
        font-weight: 580px;
    }
}

.col-md-3 {
    padding: 12px;

    figure {
    border-radius: 20px;
    max-width: auto;
    height:50%;
    display: block;
}
}