<section style="padding-bottom: 0px;">
    <div class='auto-container' style="padding-bottom:12px; padding:20px; font-weight: 500; margin-left:25px; margin-bottom: 25px;">
</div>
</section>

<section>
    <div class="container-fluid">
        <div class="row justify-content-evenly">
            <div class="col-4">
              <h2>Chief Patron</h2>
              <div class="image">
                  <figure class="image">
                      <img class="pro-1" src= "assets/images/amrawani.jpg" alt="">
                  </figure>
              </div>
              <div class="content">
                  Prof A M Rawani, <br>Director, NIT Raipur
              </div>
            </div>
            <div class="col-4">
              <h2>Patron</h2>
              <div class="image">
                <figure class="image">
                    <img class="pro-1" src= "assets/images/pd.jpg" alt="">
                </figure>
            </div>
            <div class="content">
                Prof. Prabhat Diwan <br> Dean - Research & Consultancy, NIT Raipur
            </div>
            </div>
          </div>
          <br>


        <div class="row">
            <h2>General Chair</h2>
            <div class="col-md-3">
              <div class="image">
                  <figure class="image">
                      <img class="pro-1" src= "assets/images/sv.jpg" alt="">
                  </figure>
              </div>
              <div class="content">
                  Prof Shirish Verma, <br>Dean - Academics, NIT Raipur
              </div>
            </div>
            <div class="col-md-3">
                <div class="image">
                    <figure class="image">
                        <img class="pro-1" src= "https://th.bing.com/th/id/OIP.9B2RxsHDB_s7FZT0mljnhQHaHa?pid=ImgDet&rs=1" alt="">
                    </figure>
                </div>
                <div class="content">
                    Prof A B Soni, <br>Dean - FW, NIT Raipur
                </div>
              </div>
              <div class="col-md-3">
                <div class="image">
                    <figure class="image">
                        <img class="pro-1" src= "assets/images/rkt.jpg" alt="">
                    </figure>
                </div>
                <div class="content">
                    Prof R K Tripathi, <br>Dean - P&D, NIT Raipur
                </div>
              </div>
              <div class="col-md-3">
                <div class="image">
                    <figure class="image">
                        <img class="pro-1" src= "https://th.bing.com/th/id/OIP.9B2RxsHDB_s7FZT0mljnhQHaHa?pid=ImgDet&rs=1" alt="">
                    </figure>
                </div>
                <div class="content">
                    Dr. P Y Dhekne, <br>Dean - SW, NIT Raipur
                </div>
              </div>
        </div>

    </div>
   





</section>