<meta name="viewport" content="width=device-width,initial-scale=1"/>



<section style="padding-bottom: 0px;">
    <div class='auto-container' style="padding-bottom:12px; padding:20px; font-weight: 500; margin-left:25px; margin-bottom: 25px;">
</div>
</section>

<section>
    <div class="container-md">
        <div class="row justify-content-evenly">
            <div class="col-lg-3">
              <h2>Chief Patron</h2>
              <div class="image">
                  <figure class="image">
                      <img class="pro-1" src= "assets/images/amrawani.jpg" alt="">
                  </figure>
              </div>
              <div class="content">
                  Prof A M Rawani, <br>Director, NIT Raipur
              </div>
            </div>
            <div class="col-lg-3">
              <h2>Patron</h2>
              <div class="image">
                <figure class="image">
                    <img class="pro-1" src= "assets/images/pd.jpg" alt="">
                </figure>
            </div>
            <div class="content">
                Prof. Prabhat Diwan <br> Dean - Research & Consultancy, NIT Raipur
            </div>
            </div>
            <div class="col-lg-3">
                <h2>Chairperson</h2>
                <div class="image">
                  <figure class="image">
                      <img class="pro-1" src= "assets/images/ss.jpg" alt="">
                  </figure>
              </div>
              <div class="content">
                  Dr. S. Sanyal <br> HoD & Professor, Department of Mechanical Engineering, NIT Raipur
              </div>
              </div>
          </div>
          <br>
          <br>


        <div class="row justify-content-evenly">
            <h2>Organizing Secretaries</h2>
            <div class="col-lg-3">
              <div class="image">
                  <figure class="image">
                      <img class="pro-1" src= "assets/images/nvsnaidu.jpeg" alt="">
                  </figure>
              </div>
              <div class="content">
                  Dr. N.V Swamy Naidu, <br>Associate Professor, NIT Raipur
              </div>
            </div>
            <div class="col-lg-3">
                <div class="image">
                    <figure class="image">
                        <img class="pro-1" src= "assets/images/sm.jpg" alt="">
                    </figure>
                </div>
                <div class="content">
                    Dr. Suraj Kumar Mukti, <br>Assistant Professor, NIT Raipur
                </div>
              </div>
              <div class="col-lg-3">
                <div class="image">
                    <figure class="image">
                        <img class="pro-1" src= "assets/images/jagdish.jpg" alt="">
                    </figure>
                </div>
                <div class="content">
                    Dr. Jagadish, <br>Assistant Professor, NIT Raipur
                </div>
              </div>
        </div>
        <br>
        <br>
    </div>
   





</section>