<div class="auto-container">
    <div class="heading" style="text-align: left; padding:20px; font-weight: 500; margin-left:25px; margin-bottom: 25px;">
        <h2>Advisory Committee</h2>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <h3>International</h3>
                <div class="content">
                    <ul>
                        <li>Dr. T. Sudharsan, MEM, USA</li>
                        <li>Dr. Kapil Gupta, JU, RSA</li>
                        <li>Dr. Aini Z.A.K, UTM, Malaysia</li>
                        <li>Mani Venkatesh, MBS, France</li>
                        <li>Dr. Hamed M Jassim, SSE, UKH</li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-5">
                <h3>National</h3>
                <div class="content">
                    <ul>
                        <li>Prof. Jinil Persis, NITIE Mumbai</li>
                        <li>Prof. Balkrishna Narkhede, NITIE Mumbai</li>
                        <li>Prof. Rakesh Raut, NITIE Mumbai</li>
                        <li>Prof. Anju Singh, NITIE Mumbai</li>
                        <li>Prof. KVSS Narayana Rao, NITIE Mumbai</li>
                        <li>Prof. Milind Akarte, NITIE Mumbai</li>
                        <li>Dr. R.D.Mishra, NIT Silchar</li>
                        <li>Dr. P.K.Patwori, NIT Silchar</li>
                        <li>Dr. Biplab Das, NIT Silchar</li>
                        <li>Dr. Sumit Bhowmik, NIT Silchar</li>
                        <li>Dr. M. Ravi Sankar, IIT Guwahati</li>
                        <li>Dr. U.S. Dixit, IIT Guwahati</li>
                        <li>Dr. Amitava Ray, JEC, Jalpaiguri</li>
                        <li>Dr. R.K. Gupta, MU, Jaipur</li>
                        <li>Dr. P. Bangarubabu, NIT Warangal</li>
                        <li>Dr. Bijan Sarkar, Jadavpur University</li>
                        <li>Dr. Veeresh Kumar G. B. NITAP</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>
<!--upper container ends-->

<!--lower container starts-->
<div class="heading" style="text-align: left; padding:20px; font-weight: 500; margin-left:25px; margin-bottom: 25px;">
    <h2>Technical Committee</h2>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-5">
    <ul>
        <li>Prof. S.L.Sinha, NIT Raipur</li>
        <li>Prof. R. Salhotra, NIT Raipur</li>
        <li>Prof. S.D. Patle, NIT Raipur</li>
        <li>Prof. S.P.S. Matharu, NIT Raipur</li>
        <li>Prof. A.K. Tiwari, NIT Raipur</li>
        <li>Dr. R K Yadav, NIT Raipur</li>
        <li>Prof. G K Sahu, NIT Raipur</li>
        <li>Dr. N. Jain, NIT Raipur</li>
        <li>Dr. S. Bhowmick, NIT Raipur</li>
        <li>Dr. Satish Dewangan, NIT Raipur</li>
       

    </ul>
</div>
<div class="col-lg-5">
    <ul>
        <li>Dr. Vivek Kr. Gaba, NIT Raipur</li>
        <li>Dr. Amit Raj Singh, NIT Raipur</li>
        <li>Dr. S.Bhattacharya, NIT Raipur</li>
        <li>Dr. G. Srinivasu, NIT Raipur</li>
        <li>Dr. Harendra Kr. Narang, NIT Raipur</li>
        <li>Dr. Nisha Netam, NIT Raipur</li>
        <li>Dr. Raj Kr. Sahu, NIT Raipur</li>
        <li>Dr. Mridul Singh Rajput, NIT Raipur</li>
        <li>Dr. Rajana Suresh Kumar, NIT Raipur</li>
    </ul>
<br>
<br>
</div>

</div>

</div>