.content {
    text-align: justify;
    font-weight: 550px;
}

*h2 {
    text-align: center
    ;
}

.container-fluid {

    h3 {
        text-align: left;
        padding: 25px;

    }

    ul {
        text-align: justify;
    }
}