

  <!--main container-->
<div>
  <div class="container mt-5" >
    
      <div class="row justify-content-evenly section">
        <div class="col-6">
          <div>
            <h2>About</h2>
          </div>
          <div class="content">
            <p>
              On stepping into its successful 60th year, Department of 
              Mechanical Engineering, NIT Raipur is organizing its 1st 
              International Conference on <em>Advances in Mechanical 
              Engineering, Industrial Informatics and Management (AMEIIM-2022)</em> on <strong>25th-26th February 2022</strong> for 
              deliberating with distinguished experts in this field. This invitation is open for all academicians, research scholars, 
              post-docs, PG and UG students functioning in the relevant areas. It also provides a premier interdisciplinary platform 
              for researchers, practitioners and educators to present and 
              discuss the most recent innovations, trends, and concerns as 
              well as practical challenges encountered and solutions adopted in relevant areas.
            </p>
          </div>
        </div>

        <div class="col-3">
          <div id="table">
            <h3 class="pb-2">Important Dates</h3>

            <div class="table-content text-white" >
              <span>
                Last Date for Paper Submission:
              </span><br>

                15th December, 2021
              
              <br><hr>
              <span>Final Acceptance Notice:</span>
                <br>
                15th January, 2022
              
              <br> <hr>
              <span>Registration Starts:</span>
                <br>
                15th January, 2022
              
              <br>
              <hr>
              <span>Registration Ends: </span>
                <br>
                15th February, 2022  
            </div>
          </div>

          
        </div>
      </div>

      <div id="nit-rai" class="section">
        <h3>About NIT Raipur</h3>

        <p>
          National Institute of Technology Raipur (Formerly Government Engineering College Raipur), situated in the capital of a newly 
          incepted state of Chhattisgarh, has proven to be "avant-garde' in the field of science and technology over past few decades in this 
          region. With sweet memory of foundation ceremony by our President Hon'ble Dr. Rajendra Prasad on 14th September 1956, 
          the institute started with two departments namely Metallurgical and Mining Engineering. 
          <br>
          <br>
          Later the inauguration of the Institute 
          building was done by our Prime Minister Hon'ble Pt. Jawahar Lal Nehru on 14th March 1963. The status of Government Engineering College, Raipur had been elevated to National
          Institute of Technology by the Central Govt. with effect from 1st Dec. 2005. This Institute had been working since last 50 years 
          with a mission to support growth and promotion of industries and community of the region. The Institute has long recognized 
          its role in engineering education, generation and dissemination of useful and relevant technologies in the service of the society.
        </p>

      </div>

      <div id="dept-me" class="section">
        <h3>About Department of Mechanical Engineering</h3>

        <p>
          The Mechanical department started in the year 1958 and department 
          offers undergraduate program (B. Tech.) in Mechanical Engineering 
          and Postgraduate program (M. Tech.) in Thermal, Design, Industrial 
          Engineering and Management. It is one of the largest departments of 
          the institute with intake of 90 students for undergraduate course and 
          43 students for post graduate course. Department also offers Ph.D. 
          program in all relevant discipline of Mechanical Engineering including 
          Thermal, Design, Production, and Industrial Engineering and Management
        </p>
      </div>

      <div class="section">
        <h3>About Raipur</h3>

        <p>
          Raipur, capital of Chhattisgarh is a historical city of India. Energy Park, Gandhi Udyan, Purkhouti Muktangan, Burha 
          Sarowar, Guru Ghasidas Museum, Nandanwan Zoo, Mahamaya 
          Temple etc. are some of the interesting places to visit in Raipur. 
          Raipur is a fast-developing city and emerging as education hub 
          of India. Many institutions like National Law University, AIIMS, IIM, Engineering and Medical College have been established here. 
          Since, Chhattisgarh is rich in mineral, 
          agriculture and forest, many public sector, private sector and multinational companies are situated around Raipur.
        </p>
      </div>

      <div class="row section" >
              
        <div class="col-xs-6 col-md-5">
          <div class="section-title" style="padding-bottom: 12px;">
            <h2 style="text-align: center;">Chief Patron</h2>
          </div>
          <figure class="image">
            <img src="assets/images/amrawani.jpg" alt="" style="align-items: center;">
          </figure>
          <br>
          <h6 style="text-align: center;">Prof. A M Rawani, Director, NIT Raipur</h6>
        </div>
        <div class="col-xs-4 col-md-2"style=""></div>
        <div class="col-xs-6 col-md-5">
          <div class="section-title" style="padding-bottom: 12px;">
            <h2 style="text-align: center;">Patron</h2>
          </div>
          <figure class="image">
            <img src="assets/images/pd.jpg" alt="" style="align-items: center;">
          </figure>
          <br>
          <h6 style="text-align: center;">Prof. P. Diwan, Dean R&C, NIT Raipur</h6>
        </div>
      </div>
        
  </div>
</div>





  
    

