


.col-md-8 {
    padding:12px;

}
.col-md-4 {
    
    padding:12px
}

.reg {
    padding: 50px;
}

.col-md-8 {
    padding-left: 50px;
    padding-right: 50px;
}


.outer-container {
    padding-right: auto;
    padding-left: auto;
    background: #707980;
}
.content {
    background: white;
    padding-bottom: 20px;
}

.heading {
    padding-top: 25px;
    font-size: 80px;
}

.table-content {
    border-radius: 25px;
    background: #425664;
    padding:20px;
    align-items: center;
    
}

img {
    border-radius: 50%;
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container-xxl {
    padding-bottom: 35px;
}
