<meta name="viewport" content="width=device-width,initial-scale=1"/>

<section>
    <div class="container mt-5">
        <h3>Registration</h3>
        <div class="content">
            <p>

                <br>
                <em>Authors must take a note that all the papers submitted must be <span style="color: red; font-weight: bold;">original
                </span> and <span style="color: red; font-weight: bold;">within the scope of themes of the conference.</span></em>
                <br>
                <br>
                <i class="fas fa-angle-double-right" style="color: #425664;"></i> 
                For further information related to <span style="color: blue; font-weight: 650px;">submission of paper: </span>
                <a href="submit-paper">click here.</a>
                <br>
                <i class="fas fa-angle-double-right" style="color: #425664;"></i> 
                For themes and relevant topics: <a  href="call-for-paper">click here.</a>
            </p>
        </div>
    </div>
</section>
<br>
<br>

<section style="padding:35px; padding-top:12px">
    <div class="auto-container">
        <ol class="list">   
            
            <li class="item"><h3 class="headline"><span class="num">1. </span> Registration Details</h3>
                <div class="container-md">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                
                                <th scope="col">Participants</th>
                                <th scope="col">Registration Fees (in INR)
                                    <br><span style="color: red;">*Includes Publication Charges + GST</span>
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" colspan="2" style="text-align: center;color:blue">Early Bird Registration</th>
                                
                            </tr>
                            <tr>
                                <td>UG/P.G/Ph.D Students</td>
                                <td style="color:green; font-weight: bold;">3500</td>
                            </tr>

                            <tr>
                                <td>Academicians / Faculties from various Universities / Institutions</td>
                                <td style="color:green ; font-weight: bold;">4000</td>
                            </tr>
                            <tr>
                                <td>Researchers / Scientists / Industry Persons</td>
                                <td style="color:green; font-weight: bold;">4500</td>
                            </tr>
                            <tr>
                                <td>Foreign UG / P.G. / Ph.D Students (Outside India)</td>
                                <td style="color:green ; font-weight: bold;">120 USD</td>
                            </tr>
                            <tr>
                                <td>Foreign Academicians / Faculties (Outside India)</td>
                                <td style="color:green ; font-weight: bold;">150 USD</td>
                            </tr>
                            <tr>
                                <td>Researchers / Scientists / Industry Persons (Outside India)</td>
                                <td style="color:green ; font-weight: bold;">200 USD</td>
                            </tr>

                            <tr>
                                <th colspan="2" style="color:red; text-align: center;">Late Registration</th>
                            </tr>
            
                           
                            <tr>
                                
                                <td>UG/P.G/Ph.D Students</td>
                                <td style="color:darkred ; font-weight: bold;">4000</td>
                            </tr>
                            <tr>
                                <td>Academicians / Faculties from various Universities / Institutions</td>
                                <td style="color:darkred ; font-weight: bold;">4500</td>
                            </tr>
                            <tr>
                                <td>Researchers / Scientists / Industry Persons</td>
                                <td style="color:darkred; font-weight: bold;">5000</td>
                            </tr>
                            <tr>
                                <td>Foreign UG / P.G. / Ph.D Students (Outside India)</td>
                                <td style="color:darkred; font-weight: bold;">150 USD</td>
                            </tr>
                            <tr>
                                <td>Foreign Academicians / Faculties (Outside India)</td>
                                <td style="color:darkred; font-weight: bold;">180 USD</td>
                            </tr>
                            <tr>
                                <td>Researchers / Scientists / Industry Persons (Outside India)</td>
                                <td style="color:darkred; font-weight: bold;">250 USD</td>
                            </tr>
           
                        </tbody>
                        
                       
                        
                          
                        
                      </table>
                    </div>
        
                    Registration fee is payable by <span style="font-weight: 500; color: red;"> Any Online Mode </span>, in the 
                    account of:<br>
                    <span style="font-weight: bold; color:red; text-align: center;" > “Director, NIT Raipur”</span>
                    <br>
                    <span style="font-weight: bold; text-align: center;"> A/C No.: 38027633250 <br>
                        IFSC Code: SBIN0002852
                        <br> Branch: GCET Branch, Raipur (C.G). </span>
                    <br>
                    The registration fees include conference<em> e-certificate, e-proceedings and publication in book series.</em>
                    <br>
                    <p style="color:red; font-weight: 500;">No registration after <span style="color: blue;font-style: 
                    italic; font-weight: bold;">15th February 2022</span> shall be entertained.</p>
            </li>
            <br>
            <li class="item"><h3 class="headline"><span class="num">2. </span> Note</h3>
                <ol>
                    <br>
                    <li>
                        All accepted and presented Full Length papers will be published in <strong style="color: red;">Scopus Indexed</strong> of
                        <span style="font-style: italic; color: blue;">“IOP Conference Series: Materials Science and Engineering”</span> subjected to peer 
                        review policy and terms & conditions of publisher. 

                        <figure class="image">
                            <img src="assets/images/R.jpg" alt="" style="align-items: center;">
                          </figure>
    
                    </li>
                    <br>
                    <li><span style="font-weight: bold; color: blue; font-style: italic;"> Plagiarism should be strictly avoided for final publication. </span>
                        Plagiarized manuscripts may be rejected at any stage during conference peer review/publication schedule, etc.
                        </li>
                    <br>
                    
                </ol>
            </li>

        </ol>
    </div>
    

</section>





