<section style="padding-bottom: 0px;">
    <div class='auto-container' style="padding-bottom:12px">
    <h2 style="padding-left:20px">Registration</h2>
    <div class="content">
        <p>
            Participants will be needed to submit an <strong>Abstract and a Full-length paper.</strong>
            Participants will be informed to install an appropriate 
            “Online Presentation App” on their Mobile phones / Laptops / Desktops for Oral Paper Presentation. 
            Meeting code for the same will be shared with all participants, prior 
            to the event and other relevant information will be shared <strong> mail only.</strong>
        </p>
    </div>
</div>
</section>
<br>

<section style="padding:35px; padding-top:12px">
    <div class="auto-container">
        <ol class="list">
            <li class="item"><h3 class="headline"><span class="num">1. </span> Submission Process</h3>
                <span>
                    Abstract and full length paper need to be submitted through 
                    the Easy Chair web-portal using the following link:
                    <a href="https://easychair.org/conferences/?conf=ameiim2022"> https://easychair.org/conferences/?conf=ameiim2022</a>
                </span>
            </li>
            <br>
            <li class="item"><h3 class="headline"><span class="num">2. </span> Registration Details</h3>
                <div class="auto-container">
                    <table class="table table-bordered">
                        <thead >
                          <tr>
                            <th rowspan="3">Date</th>
                            <th colspan="3" style="text-align: center;">Indian Nationals (INR) / Foreign Nationals</th>
                            <tr>
                                <th colspan="3" style="text-align: center;">USD per paper per author</th> 
                                </tr>
                            <th>Research Scholars / Students</th>
                            <th>Acadmecians / Faculties / Scientists</th>
                            <th>Industry Persons</th>
                        </thead>
                        <tbody>
                          <tr>
                            <th rowspan="2">15th January 2022 
                                <br>to<br>15th February 2022</th>
                            <td>INR 6500 + GST@18% </td>
                            <td>INR 7000 + GST@18%</td>
                            <td>INR 8000 + GST@18%</td>
                          </tr>
                          <tr>
                              <td>$120 + GST@18%</td>
                              <td>$150 + GST@18%</td>
                              <td>$200 + GST@18%</td>
                          </tr>
                        
                          
                        </tbody>
                      </table>
                    </div>
        
                    Registration fee is payable by <span style="font-weight: 500; color: red;"> Any Online Mode </span>, in the 
                    account of:<br>
                    <span style="font-weight: bold; color:red; text-align: center;" > “Director, NIT Raipur”</span>
                    <br>
                    <span style="font-weight: bold; text-align: center;"> A/C No.: 38027633250 <br>
                        IFSC Code: SBIN0002852
                        <br> Branch: GCET Branch, Raipur (C.G). </span>
                    <br>
                    The registration fees include conference<em> e-certificate, e-proceedings and publication in book series.</em>
                    <br>
                    <p style="color:red; font-weight: 500;">No registration after <span style="color: blue;font-style: 
                    italic; font-weight: bold;">15th February 2022</span> shall be entertained.</p>
            </li>
            <br>
            <li class="item"><h3 class="headline"><span class="num">3. </span> Note</h3>
                <ol>
                    <br>
                    <li>
                        Authors submitting full paper will be considered for Online Oral Presentation & Publication in<span style="font-weight: bold; 
                        font-style: italic; color: blue;"> Springer and/or Scopus 
                        Indexed Journal</span> (Collaboration process with Journal Proceedings is on process) subjected to peer review policy 
                        and terms & conditions of publisher.
    
                    </li>
                    <br>
                    <li><span style="font-weight: bold; color: blue; font-style: italic;"> Plagiarism should be strictly avoided for final publication. </span>
                        Plagiarized manuscripts may be rejected at any stage during 
                        conference peer review/publication schedule etc.
                        </li>
                    <br>
                    <li>Mode of Delivery will be through <span style="font-style: italic; color:red;font-weight: bold;"> Online Mode</span> only.</li>
                </ol>
            </li>

        </ol>
    </div>
    

</section>





