<meta name="viewport" content="width=device-width,initial-scale=1"/>

<section>
    <div class="container mt-5">
        <h3>Paper Submission</h3>
        <div class="content">
            <p>
                Authors will have to submit <strong>"Full-Length Manuscript"</strong> directly to <span style="font-weight: 700; font-style: italic; ">"Morressier Platform"</span> for peer review process.
                Authors are solicited to contribute to the conference by 
                submitting full length articles that illustrate research results, projects, experiment works and industrial experiences that 
                describe significant advances in the <a href="call-for-paper">following areas.</a>
            </p>
        </div>
        <br>
        
        <div class="content">
            <h3>Important Links:</h3>
            <br>
            <ol class="list">
                <li class="item"><h3 class="headline"><span class="num">1. </span> Preparation</h3>
                    <span style="margin-left: 80px;">
                        To know about how to prepare a paper for publication, 
                        <a href="https://cms.iopscience.org/ac424614-d325-11e0-adda-5d01ae4695ed/simpleinstructions.pdf ">click here.</a>
                    </span>
                    
                </li>
                <br>
                <li class="item"><h3 class="headline"><span class="num">2. </span> Guidelines & Templates</h3>
                    <span style="margin-left: 80px;">
                        For Guidelines and Templates:
                    <a href="https://publishingsupport.iopscience.iop.org/author-guidelines-for-conference-proceedings/">Click here.</a>
                    </span>
                    
                </li><br>

                <li class="item"><h3 class="headline"><span class="num">3. </span> Final Submission</h3>
                    <span style="margin-left: 80px;">
                        For <strong>Final Paper</strong> submission:
                    <a href="https://www.morressier.com/call-for-papers/6194e6faa1da2d0012d462e7">Click here.</a>
                    </span>
                    
                </li><br>
                
                <li class="item">

                </li>
            </ol>
        </div>
    </div>
</section>